attrs==25.3.0
chardet==5.2.0
cssselect2==0.8.0
dill==0.4.0
kaleido==0.2.1
lxml==5.4.0
multiprocess==0.70.18
narwhals==1.39.1
numpy==2.1.2
packaging==25.0
pandas==2.2.3
pillow==11.2.1
plotly==5.24.1
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.1
scipy==1.15.3
six==1.17.0
svglib==1.5.1
tenacity==9.1.2
tinycss2==1.4.0
tzdata==2025.2
webencodings==0.5.1
